# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* Categories of Data Science Tools
* Languages of Data Science 
* Libraries for Data Science
* Introduction to Jupyter Notebooks
* Introduction to GitHub

<p>Some of the popular languages that Data Scientists use are:</p>
<p>&nbsp; &nbsp; 1. Python</p>
<p>&nbsp; &nbsp; 2. R</p>
<p>&nbsp; &nbsp; 3. Julia</p>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<p>&nbsp; &nbsp; 1. Pandas</p>
<p>&nbsp; &nbsp; 2. Tensorflow</p>
<p>&nbsp; &nbsp; 3. Matplotlib</p>

<p>Data Science Tools</p>
<p>&nbsp; &nbsp; 1. RStudio</p>
<p>&nbsp; &nbsp; 2. Tensorflow</p>
<p>&nbsp; &nbsp; 3. Apache Spark</p>

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
a=(3*4)+5
print(a)

17

This will convert 200 minutes to hours by diving by 60

In [14]:
a=200/60
print(a,'hours')

3.3333333333333335 hours

## Author
Chandra Hidayatul Akbar